html {
  background: linear-gradient(to right, #3a7fd5, #6ebce2);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid white;
  padding: 10px;
}
button:hover {
  opacity: 0.8;
  border: 1px solid #171717;
  background-color: #171717;
  border-radius: 7px;
  color: white;
}

.employee-create-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px 30px;
  border-radius: 7px;
}
.employee-create-form input {
  height: 25px;
  border-radius: 4px;
  border: 1px solid #b3b3b39e;
}
.employee-create-form fieldset select {
  width: 88%;
}
.employee-create-form select {
  height: 30px;
  border: 1px solid #b3b3b39e;
  background-color: white;
  border-radius: 4px;
}
.employee-create-form__button {
  width: 80px;
  margin: 0 auto;
  margin-top: 20px;
  background: linear-gradient(to right, #3a7fd5, #6ebce2);
  border-radius: 10px;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
}
.employee-create-form__button:hover {
  opacity: 0.8;
  border: 1px solid white;
}

.address {
  margin-top: 10px;
}

.primary-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.secondary-header {
  color: white;
}

.alert-message {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  box-sizing: border-box;
  width: 90%;
  background: #fff;
  padding: 15px 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  text-align: left;
}
.alert-message__close {
  position: absolute;
  right: -2%;
  top: -3%;
  color: white;
  background-color: black;
  border-radius: 100%;
  padding: 7px 10px;
  cursor: pointer;
}

.datatable {
  padding: 20px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  background-color: white;
}
.datatable table {
  border-collapse: collapse;
  width: 100%;
}
@media screen and (max-width: 700px) {
  .datatable {
    width: 100%;
  }
}

.datatable-utilities {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.datatable-utilities__row-number-selector select {
  background-color: white;
  padding: 3px;
  border: 1px solid #e1e1e1;
}
.datatable-utilities__search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.datatable-utilities__search-bar label {
  margin: 0;
  padding: 0;
  padding-right: 5px;
}
.datatable-utilities__search-bar input {
  border: 1px solid #e1e1e1;
  border-radius: 3px;
}
@media screen and (max-width: 500px) {
  .datatable-utilities {
    flex-direction: column-reverse;
  }
  .datatable-utilities__search-bar {
    margin-bottom: 10px;
  }
  .datatable-utilities__search-bar input {
    width: 120px;
  }
}

.datatable-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.datatable-pagination__infos {
  font-size: 0.85em;
  color: #171717;
}
.datatable-pagination__buttons {
  display: flex;
}
.datatable-pagination__buttons button {
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  border: 1px solid white;
  padding: 10px;
}
.datatable-pagination__buttons button:enabled {
  cursor: pointer;
}
.datatable-pagination__buttons button:enabled:hover {
  opacity: 0.8;
  border: 1px solid #111111;
  background: #111111;
  border-radius: 3px;
  color: white;
}
.datatable-pagination__buttons__pages__selected {
  background: linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  border: 1px solid #939393 !important;
  opacity: 0.8;
  border-radius: 3px;
}
@media screen and (max-width: 700px) {
  .datatable-pagination {
    flex-direction: column-reverse;
  }
  .datatable-pagination button {
    padding: 5px;
  }
}

.datatable-body tr {
  cursor: pointer;
}
.datatable-body tr:nth-child(even):hover {
  background-color: #f9f9f9;
}
.datatable-body tr:nth-child(odd) {
  background-color: #f9f9f9;
}
.datatable-body tr:nth-child(odd):hover {
  background-color: #f1f1f1;
}
.datatable-body tr:nth-child(odd) td:nth-child(1) {
  background-color: #f1f1f1;
}
.datatable-body tr:nth-child(even) td:nth-child(1) {
  background-color: #fafafa;
}
.datatable-body td {
  padding: 10px;
  border-bottom: 1pt solid #e1e1e1;
}
@media screen and (max-width: 700px) {
  .datatable-body tr td {
    display: none;
  }
  .datatable-body tr td:nth-child(1) {
    display: table-cell;
  }
  .datatable-body tr td:nth-child(2) {
    display: table-cell;
  }
  .datatable-body tr td:nth-child(3) {
    display: table-cell;
  }
}
@media screen and (max-width: 395px) {
  .datatable-body tr td {
    display: none;
  }
  .datatable-body tr td:nth-child(3) {
    display: none;
  }
}

.datatable-head th {
  cursor: pointer;
  padding: 15px;
  padding-left: 5px;
  text-align: left;
  color: #484848;
  font-size: 0.9em;
}
.datatable-head th:hover {
  opacity: 0.85;
}
@media screen and (max-width: 700px) {
  .datatable-head th {
    display: none;
  }
  .datatable-head th:nth-child(1) {
    display: table-cell;
  }
  .datatable-head th:nth-child(2) {
    display: table-cell;
  }
  .datatable-head th:nth-child(3) {
    display: table-cell;
  }
}
@media screen and (max-width: 395px) {
  .datatable-head th {
    display: none;
  }
  .datatable-head th:nth-child(3) {
    display: none;
  }
}

.datatable-row td {
  padding: 10px;
}
.datatable-row td:first-child i {
  margin-right: 7px;
  font-size: 0.9em;
}
.datatable-row__fold {
  color: #d33333;
}
.datatable-row__unfold {
  color: #31b131;
}

.datatable-dropdown td {
  background-color: white !important;
}
.datatable-dropdown ul {
  list-style: none;
}
.datatable-dropdown ul li {
  display: flex;
}
.datatable-dropdown ul li:nth-child(odd) {
  border: 1px solid #f1f1f1;
  border-right: none;
  border-left: none;
}
.datatable-dropdown ul li span {
  padding: 15px 10px;
  min-width: 150px;
}
.datatable-dropdown ul li span:first-child {
  display: block;
  font-weight: bold;
  padding-right: 20px;
}
@media screen and (max-width: 500px) {
  .datatable-dropdown ul {
    margin-left: 0px;
    padding-left: 0px;
  }
  .datatable-dropdown ul li span {
    min-width: 100px;
  }
  .datatable-dropdown ul li span:first-child {
    display: block;
    font-weight: bold;
    padding-right: 10px;
  }
}

.default-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
  padding: 20px;
  box-sizing: border-box;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
}

.datatable-container {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
  margin-top: 0px;
}
.datatable-container .datatable {
  width: 800px;
}

/*# sourceMappingURL=style.css.map */
