.datatable-body {
  & tr {
    cursor: pointer;

    &:nth-child(even) {
      &:hover {
        background-color: $color3;
      }
    }

    &:nth-child(odd) {
      background-color: $color3;

      &:hover {
        background-color: $color5;
      }
      & td {
        &:nth-child(1) {
          background-color: $color5;
        }
      }
    }

    &:nth-child(even) {
      & td {
        &:nth-child(1) {
          background-color: $color6;
        }
      }
    }
  }

  & td {
    padding: 10px;
    border-bottom: 1pt solid $color4;
  }

  @include tablet-design {
    & tr {
      & td {
        display: none;

        &:nth-child(1) {
          display: table-cell;
        }

        &:nth-child(2) {
          display: table-cell;
        }

        &:nth-child(3) {
          display: table-cell;
        }
      }
    }
  }

  @include small-mobile-design {
    & tr {
      & td {
        display: none;

        &:nth-child(3) {
          display: none;
        }
      }
    }
  }
}
