.datatable-head {
  & th {
    cursor: pointer;
    padding: 15px;
    padding-left: 5px;
    text-align: left;
    color: $color10;
    font-size: 0.9em;

    &:hover {
      opacity: 0.85;
    }
  }

  @include tablet-design {
    & th {
      display: none;

      &:nth-child(1) {
        display: table-cell;
      }

      &:nth-child(2) {
        display: table-cell;
      }

      &:nth-child(3) {
        display: table-cell;
      }
    }
  }

  @include small-mobile-design {
    & th {
      display: none;

      &:nth-child(3) {
        display: none;
      }
    }
  }
}
