.datatable {
  padding: 20px;
  border: 1px solid $color4;
  border-radius: 5px;
  background-color: $color1;

  & table {
    border-collapse: collapse;
    width: 100%;
  }

  @include tablet-design {
    width: 100%;
  }
}
